<h1>Edit My Account</h1>

<%% form_for @<%=file_name%> do |f| %>
  <%%= f.error_messages %>
  <%%= render :partial => "form", :object => f %>
  <%%= f.submit "Update" %>
<%% end %>

<br /><%%= link_to "My Profile", <%=file_name%>_path(@<%=file_name%>) %>
